/node_modules
/public/build
/public/hot
/vendor
/storage
/storage/*.key
/bootstrap/ssr
.env
.env.backup
.env.production
/.fleet
/.idea
/.nova
/.vscode
/.zed
npm-debug.log
yarn-error.log
package-lock.json
composer.lock
docker/pgsql/data
README.md
